.moviesCard__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #E8E8E8;
  margin: 8px 0 0;
  padding: 0;
  min-height: 47px;
  width: 100%;
  box-sizing: border-box;
}

.moviesCard__image {
  width: 100%;
  max-height: 151px;
}

.moviesCard__title {
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
  margin: 3px 0 0;
  max-width: 226px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.moviesCard__save {
  background-color: #F9F9F9;
  height: 24px;
  width: 24px;
  border-radius: 36px;
  padding: 0;
  border: 0;
  margin: 0;
}

.moviesCard__save-icon {
  margin: auto;
}

.moviesCard__save-icon_status_clicked {
  background: url(../../images/save-icon-clicked.svg) center no-repeat;
  background-color: #FF3055;
}

.moviesCard__movieTime {
  color: #A0A0A0;
  font-size: 11px;
  line-height: 1.18;
  margin: 10px 0 0;
}

@media screen and (max-width: 768px) {
  .moviesCard__image {
    max-height: 190px;
  }

  .moviesCard__title {
    max-width: 100%;
  }
}