.header {
  width: calc(100% - 70px*2);
  margin: 18px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 30px*2);
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: calc(100% - 14px*2);
  }

  .header__logo {
    max-height: 38px;
    margin-right: 44px;
  }
}