.burgerMenu__toggleBtn {
  height: 23px;
  width: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 8px;
  display: flex;
  cursor: pointer;
}

.burgerMenu__toggleBtn_action_close {
  margin-right: 0;
  position: fixed;
  top: 29px;
  right: 29px;
  z-index: 3;
}

.burgerMenu__toggleBtn-icon {
  width: 28px;
  height: 3px;
  background-color: #000;
  content: "";
  box-sizing: border-box;	
  position: relative;
  display: block;
  transition: .15s;
  z-index: 2;
}

.burgerMenu__toggleBtn-icon::before {
  content: "";
  width: 28px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all .3s;
}

.burgerMenu__toggleBtn-icon::after {
  content: "";
  width: 28px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 20px;
  left: 0;
  transition: all .3s;
}

.burgerMenu__toggleBtn-icon_action_close {
  transform: translate(6px, 10px) rotate(-45deg) scaleX(-0.8);
}

.burgerMenu__toggleBtn-icon_action_close::before {
  transform: translateY(-10px) rotate(-45deg) scale(0);
}

.burgerMenu__toggleBtn-icon_action_close::after {
  transform: translateY(-20px) rotate(-90deg) scale(0.8, 1.3);
}

@media screen and (max-width: 380px) {
  .burgerMenu__toggleBtn {
    height: 20.5px;
    width: 22px;
  }

  .burgerMenu__toggleBtn-icon {
    height: 2.5px;
    width: 22px;
  }
  
  .burgerMenu__toggleBtn-icon::before {
    height: 2.5px;
    width: 22px;
  }
  
  .burgerMenu__toggleBtn-icon::after {
    height: 2.5px;
    width: 22px;
  }
}