.aboutMe {
  padding: 110px 70px 0;
}

.aboutMe-title {
  font-size: 22px;
  line-height: 1.21;
  font-weight: normal;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 0 0 23px;
  margin: 0 0 66px 0;
}

.aboutMe-acticle {
  display: flex;
  justify-content: space-between;
}

.aboutMe-info {
  min-height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutMe-name {
  font-size: 50px;
  line-height: 1.16;
  margin: 0;
}

.aboutMe-about {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  margin: 18px 0 0;
}

.aboutMe-description {
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  margin: 26px 0 0;
  max-width: 600px;
}

.aboutMe-links {
  padding: 0;
  display: flex;
  margin: 0;
}

.aboutMe-link-item {
  list-style: none;
  font-size: 14px;
  line-height: 1.21;
  margin: 0 20px 0 0;
  color: #000;
}

.aboutMe-link {
  text-decoration: none;
}

.aboutMe-photo {
  min-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  background-image: url(../../images/myPhoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10%;
}